/* .first {
    width: 100%;
    height: 200px;

    background-color: #27E1C1;
} */

body {
    /* background-color: #144a5f; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq-vR_m4Cyb-YUC6DLAur4ZFo6zSKoU08MOw&usqp=CAU'); */
    background-image: linear-gradient(to right,#1f5b72,#097282);
}
body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    /* background-color: #144a5f; */
}



.top{
    background-color: #048da3;
    
    margin: 0;
    background-color:rgb(35, 34, 34);
    
}
.home{
    display: inline-block;
    text-align: right;
    color: white;
    margin-left: 1200px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    padding: 10px;
    
    
}
.h1{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Shadows Into Light', cursive;
    color: #FFEBEB;
}

.logo{
    position: relative;
    left: 10px;
    height: 40px;
    width: 40px;
}


.main {
    height: 650px;
    width: 650px;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 20%;
    border-radius: 10px;
    font-size: larger;
    background-color:#1c1d1dea;
    padding: 15px;
    
}

.save
{
    margin-top: 20px;
    margin-left:600px
}
.button
{
    position: relative;
    display: inline-block;
    left: px;
    background: #29aec2;
    background-image: -webkit-linear-gradient(top, #29aec2, #2980b9);
    background-image: -moz-linear-gradient(top, #29aec2, #2980b9);
    background-image: -ms-linear-gradient(top, #29aec2, #2980b9);
    background-image: -o-linear-gradient(top, #29aec2, #2980b9);
    background-image: linear-gradient(to bottom, #29aec2, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Shadows Into Light', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;

}
.button:hover{
    
    background: #3cfcef;
    background-image: -webkit-linear-gradient(top, #3cfcef, #3ab4ba);
    background-image: -moz-linear-gradient(top, #3cfcef, #3ab4ba);
    background-image: -ms-linear-gradient(top, #3cfcef, #3ab4ba);
    background-image: -o-linear-gradient(top, #3cfcef, #3ab4ba);
    background-image: linear-gradient(to bottom, #3cfcef, #3ab4ba);
    text-decoration: none;
}
.button2
{
    position: relative;
    display: inline-block;
    left: 30px;
    background: #29aec2;
    background-image: -webkit-linear-gradient(top, #29aec2, #2980b9);
    background-image: -moz-linear-gradient(top, #29aec2, #2980b9);
    background-image: -ms-linear-gradient(top, #29aec2, #2980b9);
    background-image: -o-linear-gradient(top, #29aec2, #2980b9);
    background-image: linear-gradient(to bottom, #29aec2, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Shadows Into Light', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
}


.button2:hover{
    
        background: #3cfcef;
        background-image: -webkit-linear-gradient(top, #3cfcef, #3ab4ba);
        background-image: -moz-linear-gradient(top, #3cfcef, #3ab4ba);
        background-image: -ms-linear-gradient(top, #3cfcef, #3ab4ba);
        background-image: -o-linear-gradient(top, #3cfcef, #3ab4ba);
        background-image: linear-gradient(to bottom, #3cfcef, #3ab4ba);
        text-decoration: none;
}


.save{
    display:inline-block;
    position: relative;
}
.main input
{
    margin-bottom: 20px;
}

.head
{   
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 60px;
    left: 490px;
    font-family: 'Shadows Into Light', cursive;
    color: #FFEBEB;
    margin: 0;
}
.heading{
    margin: 0px;
}
























.number{
    font-family: 'Shadows Into Light', cursive;
    color: #FFEBEB;
    font-weight: bold;
    font-size: 25px;
}
input{
    width: 500px;
}








footer{

    position: absolute;
    margin: 0;
    padding: 80px 0 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: #048da3;
    text-align: center;
    width: 100%;
    background-color:rgb(35, 34, 34);

}

.bottom{
    margin-top: 100px;
}

.footer{
    position: relative;
    top: 20px;
    margin: 10px 30px;
    color: #FFEBEB;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    
}
.copyright{
    color: #EAF6F6;
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    margin-top: 30px;
}
.insta{
    position: relative;
    left: 13px;
    height: 30px;
    width: 30px;
    top: 25px;
    background-color:rgb(35, 34, 34);
  }


.link{
    position: relative;
    left: 13px;
    height: 30px;
    width: 30px;
    top: 25px;
    background-color: rgb(35, 34, 34);
  }


.twit{
    position: relative;
    left: 13px;
    height: 30px;
    width: 30px;
    top: 25px;
    background-color: rgb(35, 34, 34);
}